body {
  margin: 0;

  font-family: georgia;
}

.Testing {
  background-color: rgb(248, 88, 88);

  font-family: georgia;
}

.App {
  display: grid;

  grid-template-rows: 60px 640px auto 4dvb;

  grid-template-columns: 75% 25%;

  height: 100vh;

  font-family: georgia;
}

header {
  font-size: 35px;

  display: flex;

  justify-content: space-between;

  color: black;

  grid-column: 1 / span 2;

  padding: 10px 10px;

  height: flex;

  background-color: rgb(242, 238, 233);

  background-image: linear-gradient(to right, #86a7b0, #ce8a7d);

  padding-top: 10px;

  padding-bottom: 10px;
}

h1 {
  font-size: 18px;
}

#simulation {
  background-color: rgb(178, 193, 177);

  text-align: center;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  line-height: 23px;

  padding-top: 20px;

  padding-bottom: 10px;
}

p1 {
  font-weight: bold;
}

.Results {
  background-color: tan;

  text-align: center;

  justify-content: space-between;

  padding-top: 7px;

  padding-bottom: 7px;
}

#history {
  background-color: rgb(183, 162, 143);

  grid-row: 2 / span 2;

  grid-column: 2;

  text-align: center;

  font-weight: bold;

  overflow: scroll;

  padding-top: 10px;

  padding-bottom: 10px;
}

nav {
  background-size: cover;

  background-repeat: no-repeat;

  color: rgb(167, 202, 165);

  font-weight: bold;

  text-align: center;

  text-shadow: 1px 1px 0 black, /* Right shadow */ -1px 1px 0 black,
    /* Left shadow */ 1px -1px 0 black, /* Top shadow */ -1px -1px 0 black; /* Bottom shadow */

  font-family: georgia;

  font-size: 15px;
}

nav p:hover {
  text-decoration: underline;

  cursor: pointer;

  font-size: 16px;
}

a {
  text-decoration: none;

  color: inherit;
}

footer {
  display: flex;

  font-size: 15px;

  font-weight: bold;

  justify-content: space-between;

  color: black;

  grid-column: 1 / span 2;

  padding: 10px 10px;

  height: flex;

  background-image: linear-gradient(to right, #86a7b0, #ce8a7d);
}

#delete {
  text-align: center;
}

#reset {
  text-align: center;
}

button {
  border-style: double;

  font-family: georgia;

  background-color: white;
}

.error {
  background-color: red;

  color: gold;

  padding: 5px;

  font-family: georgia;
}
