body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.Results {
  background-color: darkgoldenrod;
  align-items: end;
}

.Testing {
  background-color: rgb(248, 88, 88);
}

.App {
  display: grid;
  grid-template-rows: 40px auto 40px;
  grid-template-columns: 75% 25%;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, /* Right shadow */ -1px 1px 0 black,
    /* Left shadow */ 1px -1px 0 black, /* Top shadow */ -1px -1px 0 black; /* Bottom shadow */
  grid-column: 1 / span 2;
  padding: 10px 5px;
  height: flex;
}

footer {
  display: flex;
  justify-content: space-between;
  /* background-image: url("360_F_436795852_bU2LtHbIRwMfKial8U58WkKPTFQIJn3k.jpg"); */
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, /* Right shadow */ -1px 1px 0 black,
    /* Left shadow */ 1px -1px 0 black, /* Top shadow */ -1px -1px 0 black; /* Bottom shadow */
  grid-column: 1 / span 2;
  padding: 10px 5px;
  height: flex;
}

#delete {
  text-align: center;
}

#reset {
  text-align: center;
}

#simulation {
  background-color: rgb(194, 142, 243);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#history {
  background-color: rgb(248, 164, 133);
}

nav {
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(110, 207, 207);
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 0 black, /* Right shadow */ -1px 1px 0 black,
    /* Left shadow */ 1px -1px 0 black, /* Top shadow */ -1px -1px 0 black; /* Bottom shadow */
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
